@charset "UTF-8";
html, body {
  color:#cb1515;
  font-family: 'Urbanist', serif;
      margin: 0;
    padding: 0;
    height: 98%;
    width: 100%;
    scroll-behavior: smooth;
}
nav {
  display:none;
  a{
    border: solid #cb1515;
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 33px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
h1 {
  text-transform: uppercase;
  font-size: 8rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
  margin-bottom: 0;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0 0 0 22px;
  margin: 0;
}
#portfolio {
  padding: 0 30px;
  .container {
    grid-template-columns: 5fr 2fr 1fr 3fr;
    grid-template-rows:2fr 1fr 1.5fr;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    grid-auto-flow: row;
    gap: 20px;
    display: grid;
    .icon {
      display: block;
      background-color: black;
      background-position: top center;
      background-image: var(--background);
      background-size: cover;
      background-position: center;
      &:hover {
        span:after {
              background: none !important;
        }
      }
      &:hover {
        span:before {
          content: none !important;
        }
      }
      span {
        filter: contrast(500%);
        color:white;
        &:after {
          height: 100%;
          width: 100%;
          display: block;
          background:#8c0808;
          opacity: 0.8;
          filter: contrast(500%);
          color: white;
          font-size: 57px;
          margin: 30px 0px 0px 30px;
          font-weight: bolder;
          content: " ";
          position: relative;
          top: -30px;
          left: -30px;
          z-index: 100;
          transition: background 1s ease;
        }
        &:before{
          content: attr(data-title);
          opacity: 1;
          font-weight: bolder;
          font-size: 53px;
          color: white;
          position: absolute;
          top: 30px;
          left: 30px;
          z-index: 101;
          width: calc(100% - 90px);
        }
      }
    }
    .item-a {
      grid-area: span 3 / span 1;
    }
    .item-b {
      min-height: 240px !important;
      grid-area: span 1 / span 3;
    }
    .item-c {
      grid-area: span 2 / span 1;
    }
    .item-d {
      min-height: 200px !important; 
      grid-area: span 1 / span 2;
    }
    .item-e {
      grid-area: span 2 / span 1;
    }
    .item-f {
      grid-area: span 2 / span 3;
    }
  }
}
@media screen and (max-width:1920px) {
  header {
    color: #cb1515;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    height: 100%;
    width: 100%;
    nav {
      display: block;
      position: absolute;
      bottom: 5px;
      height: 120px;
      width: 128px;
    }
  }
  #portfolio{
    .container {
      grid-template-rows: 1fr 1.5fr 1fr;
      .item-b {
      min-height: 200px !important;
      }
      .icon span:before {
        font-size: 40px;
      }
    }
  }
}
@media screen and (max-width:1600px) {
  #portfolio{
    .container {
        grid-template-rows: 1fr 1fr 1fr;
        .icon span:before {font-size:34px;}
      }
  }
  
}
@media screen and (max-width:1366px) {
  #portfolio {
.container {
    .item-d {min-height: 180px !important;}
    .item-b {min-height: 140px !important;}
    .icon span:before {
      content: attr(data-title);
      opacity: 1;
      font-weight: bolder;
      font-size: 24px;
      color: white;
      position: absolute;
      top: 30px;
      left: 20px;
      z-index: 101;
      width: calc(100% - 50px);
    }
  }
  }
  
}
@media screen and (max-width:1024px) {
  header {
    height:auto;
    nav {display: none;}
  }
  h1 {font-size:4rem}
  #portfolio {
.container {
    grid-template-columns: 5fr 2fr 3fr;
    .item-b {
      min-height: 120px !important;
      grid-area: span 2 / span 2;
    }
    .item-e {
      grid-area: span 1 / span 2;
      min-height: 110px;
    }
    .item-d {
      min-height: 180px !important;
      grid-area: span 3 / span 3;
    }
  }
  }
  
}
@media screen and (max-width:768px) {
  h1 {font-size:2rem}
  #portfolio {
.container {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    .icon span{
      &:before {
        top:20px;
        font-size: 18px;
      }
    }
    .item-a {
      grid-area: span 2 / span 1;
    }
    .item-e {
      min-height: 150px;
    }
    .item-b {
      min-height: 200px !important;
      grid-area: span 1 / span 2;
    }
  }
  }
  
}
@media screen and (max-width:430px) {
  #portfolio {
.container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .item-a, .item-b, .item-c, .item-d, .item-e, .item-f {
          grid-area: span 1 / span 1;
          min-height: 140px !important;
        }
    }
  }
    
}
