@charset "UTF-8";
html, body {
  color:#cb1515;
  font-family: 'Urbanist', serif;
  margin: 0;
  padding: 0;
  height: 98%;
  width: 100%;
  scroll-behavior: smooth;
}
ul {
  display: block;
  position: absolute;
  bottom: 5px;
  height: 120px;
  width: 128px;
}
header {
  nav{
    display: none;
  }
  &.portfolio {
    height: auto;
    nav {
      position: relative;
      width: 100%;
      height: auto;
      display: block;
      ul{
        display: flex;
        justify-content: center;
        position: relative;
        height: auto;
        width: 100%;
        li:first-child{
          margin-right: 30px;
        }
        a {
          padding: 0 40px;
          color: #cb1515;
          font-size: 1rem;
          text-decoration: none;
          padding: 20px 40px;
          display: block;
          border: 1px solid #cb1515;
          &:hover {
            color:black;
          }
        }
      }
    }
  }
  &:not(.portfolio) {
    nav {
      a{
        border: solid #cb1515;
        border-width: 0 20px 20px 0;
        display: inline-block;
        padding: 33px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin: 40px 10px;
}
h2 {
  font-size: 1rem;
  text-align: center;
  margin: 10px;
  span {
    color: black;
  }
}
h3 {
  font-size: 1rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li a {
    padding: 40px 30px;
  }
}
#portfolio {
  margin:40px 40px 0px 40px;
}
.container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  gap: 20px;
  display: grid;
  padding: 10px;
  .icon {
    grid-area: span 1 / span 2;
  }
  .icon:not(p) {
    display: block;
    background-color: black;
    background-position: top center;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    
    &:hover {
      span:after {
            background: none !important;
      }
    }
    &:hover {
      span:before {
        content: none !important;
      }
    }
    span {
      filter: contrast(500%);
      color:white;
      &:after {
        height: 100%;
        width: 100%;
        display: block;
        background:#8c0808;
        opacity: 0.8;
        filter: contrast(500%);
        color: white;
        font-size: 57px;
        margin: 30px 0px 0px 30px;
        font-weight: bolder;
        content: " ";
        position: relative;
        top: -30px;
        left: -30px;
        z-index: 100;
        transition: background 1s ease;
      }
      &:before{
        content: attr(data-title);
        opacity: 1;
        font-weight: bolder;
        font-size: 1rem;
        color: white;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 101;
        width: calc(100% - 90px);
      }
    }
    
  }
  .item-mobile {
     grid-area: span 1 / span 1;
  }
  .item-mobileTwo {
     grid-area: span 1 / span 2;
  }
  & > img {
    background-color: transparent !important;
    width: 100%;
  }
}
#work {
  .container {
    .icon:not(p) {
      background-color: transparent;
      min-height: 150px;
    }
    p {
      color:black;
    }
    img{  
      height: auto;
      width: 100%;
    }
  }
}
@media screen and (min-width:575px) {
  h1 {
    font-size: 3rem;  
  }
  h2 {
    font-size: 2rem;  
  }
  .container {
      grid-template-columns: 1fr 1fr 1fr;
      .item-lp, .item-full {
        grid-area: span 1 / span 3;
      }
      .item-e {
        grid-area: span 1 / span 2;
      }
      .item-tablet{
        grid-area: span 1 / span 2;
      }
     .item-mobileTwo{
        grid-area: span 2 / span 1;
      }
      .item-lpTwo{
        grid-area: span 2 / span 2;
      }
      .item-tabletTwo{
        grid-area: span 2 / span 2;
      }
    }
}
@media screen and (min-width:900px) {
.container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .item-full {
      grid-area: span 1 / span 3;
    }
    .item-e {
            grid-area: span 3 / span 2;
    }
    .item-lp {
      grid-area: span 3 / span 2;
    }
    .item-lpTwo {
      grid-area: span 3 / span 1;
    }
    .item-tablet {
      grid-area: span 3 / span 1;
    }
    .item-tabletTwo {
      grid-area: span 3 / span 2;
    }
    .item-mobileTwo {
      grid-area: span 3 / span 1;
    }
  }
}

@media screen and (min-width:1200px) {
ul {
  display: block;
  position: absolute;
  bottom: 5px;
  height: 120px;
  width: 128px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  nav{
    display: block;
    position: absolute;
    bottom: 5px;
    height: 120px;
    width: 128px;
    a{
      border: solid #cb1515;
      border-width: 0 20px 20px 0;
      display: inline-block;
      padding: 33px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
.container {
    .item-lp {
      grid-area: span 5/span 2;
    }
    .item-tablet {
      grid-area: span 5/span 1;
    }
    .item-e {
        grid-area: span 5 / span 2;
    }
  }
}
@media screen and (min-width:1600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1600px;
    margin: auto;
    .item-e {
        grid-area: span 8 / span 2;
    }
    .item-lp{
      grid-area: span 8/span 3;
    }
    .item-lpTwo {
      grid-area: span 1/span 1;
    }
    .item-tablet{
      grid-area: span 8/span 1;
    }
    .item-full{
      grid-column: span 5;
    }
    .item-mobileTwo{
      grid-area: span 1/span 1;
    }
    .item-tabletTwo {
      grid-area: span 2/span 2;
    }
  }
}
