@charset "UTF-8";
/* CSS Document */
$standard: 20px;
$text-color: #fff;
$key-color: #075b5f;
$background: #999;
$icon-size:30px;
$trans-white:rgba(255,255,255,0.9);
@mixin img-cover($name) {
  background: url($name);
  background-size: cover;
  background-position: center;
}
@mixin transition($time) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}
@mixin transform ($transformation) {
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -o-transform: $transformation;
  transform:$transformation;
}
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  background-color: $key-color;
  text-align: center;
  color: $text-color;
}
a {
  color: $text-color;
  font-weight: bold;
  font-style: italic;
  @include transition (.5s);
  &:hover {
    opacity: .7;
  }
}
h1 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 5px;
  font-family: 'Playfair Display SC', serif;
  font-size: 40px;
}
h3 {
	font-weight: lighter;
  text-transform: uppercase;
  color: $key-color;
	font-size: $standard;
  padding: $standard;
  font-family: 'Playfair Display SC', serif;

}
a {
	text-decoration: none;
}
section button {
  margin: $standard auto;
  border:black 3px solid;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: $text-color;
  background: $background;
  @include transition (.5s);
  &:hover {
    border-color: $key-color;
    color: $key-color;
    background: black;
  }
}
.arrow {
  position: absolute;
  top: 0;
  height: 0;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-top:100px solid $key-color;
}
/*main content */

section {
  align-items: center;
	position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100%;
  }
}
.slider {
  transition: opacity 4s ease-in-out;
  -moz-transition: opacity 4s ease-in-out;
  -webkit-transition: opacity 4s ease-in-out;
  opacity: 1;
  color: #333;
}
.fade {
  opacity: 0;
}
/* laptop */
@media only screen and (max-width: 1440px) {

}

/* tablet */
@media only screen and (max-width: 768px) {

}
/* mobile */
@media only screen and (max-width: 570px) {

}
