/* Globals */
:root {
  --font-sans: 'Raleway', sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

html, body {
  margin: 0;
  height: 100%;
  width:100%;
}
body {
  display: flex;
  flex-direction: column;

}
a {
  color: var(--color-link);
}
main {
  flex-grow: 2;
  flex-shrink:
}
footer {
  flex-grow:0;
}
/* Global Header */
.global-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}
.global-header {
  background-image: url("https://images.unsplash.com/photo-1525253013412-55c1a69a5738?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3aa9feeafa35aafd43a4f9c90c8a9ef7&auto=format&fit=crop&w=3750&q=80");
  background-size:cover;
  min-height: 600px;
  background-position: center;
}

#masthead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  text-decoration: none;
  letter-spacing: .2em;
  background-color:none;
  transition: background-color 3s;
  z-index: 20;
}
#masthead h1 {
  font-size: 2.5em;
  transition: font-size 3s;
}
#masthead img{
  height: 40px;
  width: 52px;
  align-self: center;
}
/* Header Quote */
.header-quote {
  color: #fff;
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
  margin-top: 100px;
  text-shadow: 1px 1px 5px #333;
}
.shrink#masthead {
  background:var(--color-secondary);
}
#masthead.shrink h1 {
  font-size: 1em;
}
/* Global Footer */
.global-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}
/* gallery */
#dog-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* gallery thumbnail*/
#dog-gallery .dog img {
  width: 100%;
  margin:auto;
  display: block;
}
.dog-thumbnail.dog {
  margin: 20px;
  width:250px;
  position: static;
  transform: translate(0%,0%);
  padding: 10px;
  z-index: 1;
  transition: width 0s;
}
.dog-thumbnail .close, .dog-thumbnail .age, .dog-thumbnail .gender, .dog-thumbnail .size, .dog-thumbnail .bio, .dog-thumbnail .breed {
  display: none;
}
/* gallery large */
.dog img {width:auto;}
.dog {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border: #666 5px solid;
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
  width: calc(100% - 100px);
  transition: width 2s;
  max-width: 1000px;
}

.close {
  color: #666;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 2em;
}
