@charset "UTF-8";
.office {
  width:100%;
  height:600px;
  display: block;
}
.office span {height: 60px; width: 60px; background-size: cover;display: inline-block;  position: relative;
}
.office span.station1{  background-image: url("/kong/img/station1.png");height: 170px; width: 250px; right: 100px;
}
.office span.station2{  background-image: url("/kong/img/station2.png"); height: 150px; width: 320px; right: 140px;
}
.office span.station3{  background-image: url("/kong/img/station3.png"); width: 130px;height: 70px; right:150px; top: 10px;
}
.office span.plant{  background-image: url("/kong/img/plant.png"); height: 100px; width: 103px; right: 200px; bottom: 140px;
}
.office span.station4{  background-image: url("/kong/img/station4.png"); height: 285PX; width: 380px; top:100px;
}
.office span.headphone{  background-image: url("/kong/img/headphone.png"); height: 69px; top: -300px; transform: rotate(210deg); left:-430px;
}
.office span.chairguy{  background-image: url("/kong/img/chairguy.png");height: 100px;width: 100px; transition: 20s ease-in-out; top: -370px
}
.office span.ponytail{  background-image: url("/kong/img/ponytail.png"); transition: 20s ease-in-out;
}
.office span.dancer{  background-image: url("/kong/img/dancer.png");width:65px; transition: 15s ease-in-out; left: 65px;
}
.office span.station5{  background-image: url("/kong/img/station5.png"); height: 180px; width: 238px; top:40px; left:190px;
}
.office span.station6{  background-image: url("/kong/img/station6.png"); height: 320px; width: 530px; position: absolute; right: 0; top: 80px;
}
.office span.coffee{  background-image: url("/kong/img/coffee.png");width: 80px; transition: 12s forward; left:240px;
}
.cta { width: 380px; text-align: left; margin-left: 0; border: 0;}
.coffee {
  -webkit-animation: guymover 5s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: guymover 5s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.ponytail {
  transform: rotate(90deg);
  -webkit-animation: dancing 15s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: dancing 15s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.chairguy {
  -webkit-animation: spin 30s ease-in infinite;
  -webkit-animation-fill-mode: forwards;
  animation: spin 30s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes mover {
  0% {left: -100px; transform: rotate(190deg); top: 250px;}
  20% {left: 16px; transform:rotate(180deg); top: 270px;}
  50% {left: 46px; transform:rotate(180deg); top: 270px;}
  51% {left: 50px; transform:rotate(20deg);}
  70% {left: 46px; transform:rotate(20deg); top: 270px;}
  99% {left:  -94px; transform:rotate(20deg);}
  100% {left:  -100px;transform:rotate(20deg); top: 250px;}
}
@-webkit-keyframes mover {
  0% {left: -100px; transform: rotate(190deg); top: 250px;}
  20% {left: 16px; transform:rotate(180deg); top: 270px;}
  50% {left: 46px; transform:rotate(180deg); top: 270px;}
  51% {left: 50px; transform:rotate(20deg);}
  70% {left: 46px; transform:rotate(20deg); top: 270px;}
  99% {left:  -94px; transform:rotate(20deg)}
  100% {left:  -100px;transform:rotate(20deg); top: 250px;}
}
@keyframes spin {
    0% {transform:rotate( 0deg);}
    20% {transform:rotate(50deg);}
    50% {transform:rotate(200deg);}
    55% {transform:rotate(180deg);}
    70% {transform:rotate(260deg);}
    100% {transform:rotate(300deg);}
}
@-webkit-keyframes spin {
  0% {transform:rotate( 0deg);}
  20% {transform:rotate(50deg);}
  50% {transform:rotate(200deg);}
  55% {transform:rotate(180deg);}
  70% {transform:rotate(260deg);}
  100% {transform:rotate(300deg);}
}
@keyframes guymover {
  0% {top: -100px; transform: rotate(160deg); left: 200px;}
  50% {top: 200px; transform:rotate(170deg);left: 250px;}
  51% {top: 200px; transform:rotate(-20deg);}
  99% {top:  -94px; transform:rotate(-20deg)}
  100% {top:  -100px;transform:rotate(-20deg);left: 200px;}
}
@-webkit-keyframes guymover {
  0% {top: -100px; transform: rotate(160deg); left: 200px;}
  50% {top: 200px; transform:rotate(170deg);left: 250px;}
  51% {top: 200px; transform:rotate(-20deg);}
  99% {top:  -94px; transform:rotate(-20deg)}
  100% {top:  -100px;transform:rotate(-20deg);left: 200px;}
}
@keyframes dancing {
  0% {left: -250px; transform: rotate(-90deg); top:-120px;}
  50% {left: 166px; transform:rotate(-90deg); top: -70px;}
  51% {left: 166px; transform:rotate(-270deg);}
  99% {left:  -250px; transform:rotate(-270deg);top:-120px;}
  100% {left:  -250px;transform:rotate(0deg);top:-120px;}
}
@-webkit-keyframes dancing {
  0% {left: -250px; transform: rotate(-90deg); top:-120px;}
  50% {left: 166px; transform:rotate(-90deg); top: -70px;}
  51% {left: 166px; transform:rotate(-270deg);}
  99% {left:  -250px; transform:rotate(-270deg)}
  100% {left:  -250px;transform:rotate(0deg); top:-120px;}
}

.metrics {text-align: center; margin-top: -150px;}
.metrics .row {justify-content: center;}
.desk-bg {
  margin-left: 0;
  margin-right: 0;
  background-image: url("/kong/img/desk-flow.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1015px;
  margin-top: -250px;
  background-position: center;
  overflow: hidden;
}
.hero {
  background: #F2F4F5;
  height: 900px;
}
.hero .row {padding-left: 0; padding-right: 0; margin: 0;}
.hero .container {width: 100%; padding: 0;}
.carousel {
  background-image:url("/kong/img/carousel.jpg");
  height: 617px;
  width:100%;
  padding:0;
  margin:0;
  background-repeat:repeat;
  background-size:auto 617px;
  -webkit-animation: scroll 15s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: scroll 50s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.metrics .col-9(even){
  border-left: #979797 1px solid;
  border-right: #979797 1px solid;
}
.idea {
  -webkit-animation: spark 15s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: spark 15s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
    background-color: teal;
      height: 10px;
      width: 10px;
      border-radius:  10px;
      position:  relative;
      top: calc(50% - 14px);
      left: 300px;

}
@keyframes spark {
    0% {left:100%;height: 50px;width: 50px;top: calc(50% - 15px); background-color: teal;}
    40% {left:0;height:10px;width:10px;top: calc(50% - 12px); background-color: teal; opacity: 1;}
    50% {left:0;height:250px;width:250px;top: calc(50% - 125px);border-radius: 200px;background-color: gold; opacity: .2;}
    60% {left:0;height:10px;width:10px;top: calc(50% - 10px);background-color: orange; opacity: 1;}
    100%{left:-100%;height: 50px;width: 50px;top: calc(50% - 40px);background-color: orange;}
}
@-webkit-keyframes spark {
  0% {left:100%;height: 50px;width: 50px;top: calc(50% - 15px); background-color: teal;}
  40% {left:0;height:10px;width:10px;top: calc(50% - 12px); background-color: teal; opacity: 1;}
  50% {left:0;height:250px;width:250px;top: calc(50% - 125px);border-radius: 200px;background-color: gold; opacity: .2;}
  60% {left:0;height:10px;width:10px;top: calc(50% - 10px);background-color: orange; opacity: 1;}
  100%{left:-100%;height: 50px;width: 50px;top: calc(50% - 40px);background-color: orange;}
}

@keyframes scroll {
    from {background-position: 0 0;}
    to {background-position: -1861px 0px;}
}
@-webkit-keyframes scroll {
    from {background-position: 0 0;}
    to {background-position: -1861px 0px;}
}
/* large computer */
@media screen and (max-width:1700){
  .office span.station4 {
    right: 150px;
    top: 90px;
  }
}
/* laptop */
@media screen and (max-width:1366){
  h3 {font-size: 24px; line-height: 32px;}
  .desk-bg {height: 800px;}
  .hero {height: 500px;}
}
/* tablet */
@media screen and (max-width:768){

}
/* mobile */
@media screen and (max-width:500){
  h1 {font-size: 30px; line-height: 40px;}
  h3 {font-size: 18px;}
  .carousel {height: 400px;background-size: auto 400px;}
  .py-4x {padding-bottom: 2rem;}
  .desk-bg {height: 350px; margin-top: -100px;}
  .metrics {margin-top: -100px;}
  .metrics .col-9 {
    flex-basis: 30%;
    padding:0;
  }
}
