@charset "UTF-8";
.carousel {
  background-image:url("img/carousel.jpg");
  height: 400px;
  width:100%;
  padding:0;
  margin:0;
  background-repeat:repeat;
  background-size:auto 400px;
  -webkit-animation: scroll 15s ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
  animation: scroll 15s ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes scroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}
@-webkit-keyframes scroll {
    from {background-position: 0 0;}
    to {background-position: -1810px 0px;}
}
