@charset "UTF-8";
.carousel {
  background-image:url("https://www.noisebridge.net/images/1/1c/Header_Banner.jpg");
  height: 100px;
  width:100%;
  padding:0;
  margin:0;
  background-repeat:repeat;
  background-size:auto 100px;
  -webkit-animation: scroll 15s ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
  animation: scroll 15s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes scroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}
@-webkit-keyframes scroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}
